[%- PROCESS 'macros.tt' -%]

<!doctype html>

<html>

<head>
  <base href="../">
  <title>Clan :: [% clan %]</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<div class="graybox">
<h1 class="bighead">/DEV/NULL/NETHACK TRIBUTE TOURNAMENT 2017</h1>
</div>

<hr>

<div class="menu">
  <a href="./" class="menu">OVERVIEW</a>
  <a href="trophies.html" class="menu">TROPHIES</a>
  <a href="clans.html" class="menu">CLANS</a>
  <a href="players.html" class="menu">PLAYERS</a>
  <a href="about.html" class="menu">ABOUT</a>
</div>

<hr>

<h1>CLAN: [% clan %]</h1>

<table class="centered">
  <thead>
    <tr><th colspan=3 class="label">MEMBERS</th></tr>
  </thead>
  [% FOREACH member IN clans.item(clan).members.sort %]
  <tr class="low">
    <td>[% plink(member) %]</a></td>
    <td>[% IF clans.item(clan).admins.grep('^' _ member _ '$').size; 'admin'; END %]</td>
    <td class="num">[% players.data.item(member).clanpts %]</td>
  </tr>
  [% END %]
  <tr class="low">
    <td colspan=2>[% clans.item(clan).members.size %] member[% IF clans.item(clan).members.size != 1; 's'; END %]</td>
    <td class="num">[% clans.item(clan).bestinshow.score %]</td>
  </tr>
</table>

<table class="centered">
  <thead>
    <tr><th colspan=9 class="label">LAST 10 GAMES</th></tr>
  </thead>
  [% IF clans.item(clan).games.size %]
    [% INCLUDE game.tt head=1 class="low" %]
    [% SET i = clans.item(clan).cnt_games; FOREACH game IN clans.item(clan).games %]
      [% INCLUDE game.tt class="low" %]
      [% SET i = i - 1 %]
    [% END %]
  [% ELSE %]
    <tr><td colspan=9 class="noasc">No games yet</tr>
  [% END %]
</table>

<table class="centered">
  <thead>
    <tr><th colspan=10 class="label">ASCENDED GAMES</th></tr>
  </thead>
  [% IF clans.item(clan).ascensions.size %]
    [% INCLUDE game.tt head=1 aswon=1 class="low" %]
    [% SET i = clans.item(clan).ascensions.size %]
    [% FOREACH game IN clans.item(clan).ascensions %]
      [% INCLUDE game.tt aswon=1 class="low" %]
      [% SET i = i - 1 %]
    [% END %]
  [% ELSE %]
    <tr><td colspan=9 class="noasc">No ascended games yet</tr>
  [% END %]
</table>

</body>

</html>
