[% IF head %]
  <tr class="[% class %]">
  <th>&nbsp;</th>
  <th>name</th>
  <th>character</th>
  <th>turns</th>
  <th>kills</th>
  <th>score</th>
  <th>duration</th>
  <th>hp</th>
  <th>time</th>
  <th>death reason</th>
  </tr>
[% ELSE %]
  [% row = games.data.all.item(game) %]

  [% # --- if the game is ascended, add class "won", otherwise "lost"
     classarr = classarr.defined ? class.split(' ') : [];
     IF row.item('_asc');
       classarr.push('won');
     ELSE;
       classarr.push('lost');
     END
  %]

  <tr class="[% classarr.join(' ') %]">
  <td class="num">[% i %]</td>
  <td>[% plink(row.name) %]</td>
  <td>[% row.role %]-[% row.race %]-[% row.gender0 %]-[% row.align0 %]</td>
  <td class="num">[% number(row.turns) %]</td>
  <td class="num">[% number(row.kills120) %]</td>
  <td class="num">
    [% IF row.item('_dump') %]
      <a href="[% row.item('_dump') %]">[% number(row.points) %]</a>
    [% ELSE %]
      [% number(row.points) %]
    [% END %]
  </td>
  <td class="num">[% row.item('_realtime') %]</td>
  <td class="num">[% row.hp %]/[% row.maxhp %]</td>
  <td class="num">[% row.item('_endtime') %]</td>
  <td>
  [% IF row.item('_asc') %]
    [% IF row.item('_ncond') == 0 %]
      ascended with all conducts broken
    [% ELSE %]
      ascended with [% row.item('_ncond') %]
      conduct[% IF row.item('_ncond') > 1 %]s[% END %]
      ([% row.item('_conds') %])
    [% END %]
  [% ELSE %]
    [% row.death %]
  [% END %]
  </td>
  </tr>
[% END %]
