/*===========================================================================*/
/*=== WEB FONTS =============================================================*/
/*===========================================================================*/

@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url("https://fonts.googleapis.com/css?family=Signika:400,700");

/*===========================================================================*/
/*=== GENERIC SETTINGS ======================================================*/
/*===========================================================================*/

body {
  background : black;
  color : #0f0;
  font-family: Signika, sans-serif;
  margin: 0;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

/*--- class for numeric table cells */

td.num {
  text-align: right;
}

/*--- generic h1 */

h1 {
  text-align: center;
}

/*--- flex row, centered */

div.flexrow {
  display: flex;
  justify-content: center;
  margin: 2em;
}

/*--- the big devnull logo at the top */

.bighead {
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  margin : 0;
  padding : 0.4em;
  text-shadow : 0.1em 0.1em black;
  font-size : 200%;
  text-align : center;
  letter-spacing : 0.05em;
}

div.graybox {
  background : #333;
}

hr {
  border : 0;
  background: #0f0;
  height : 2px;
  margin : 0;
}

/*===========================================================================*/
/*=== GENERIC TABLE STYLE ===================================================*/
/*===========================================================================*/

table {
  border: none;
  margin: 0 2em;
  border-collapse: collapse;
}

table.centered {
  margin: 2em auto;
}

table thead {
  background-color: #333;
}

table th {
  font-weight: bold;
  text-align: left;
}

th, td {
  /*color: #0f0;*/
  font-size: 100%;
  padding: 0.4em 0.5em;
  border: none;
  border-bottom: 1pt solid #333;
}

th.label {
  font-weight: bold;
  font-size: 133%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

td:nth-child(n+2) {
  border-left: 1pt solid #333;
}

/*===========================================================================*/
/*=== MENU ==================================================================*/
/*===========================================================================*/

/*--- menu-encompassing DIV */

div.menu {
  background : #333;
  font-family: 'Russo One', sans-serif;
  margin : 0;
  padding : 0.2em;
  text-align: center;
}

/*--- menu items */

a.menu {
  color : inherit;
  text-decoration : inherit;
  padding-left: 0.8em;
  padding-right: 0.8em;
  text-shadow : 0.1em 0.1em black;
  letter-spacing: 0.1em;
  margin : 0;
}

/*--- selected menu items */

a.menusel {
  color : #ff0;
  margin : 0;
}

/*--- hovered menu items */

a.menu:hover {
  color : #ff0;
  text-decoration: none;
}

/*--- trophy section (grand, major, minor etc. */

h1.trcategory {
  font-family: 'Russo One', sans-serif;
  padding : 0.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2;
  font-size: 133%;
  letter-spacing: 0.4em;
  margin: 2em auto;
  border-top: 0.1em solid #0f0;
  border-bottom: 0.1em solid #0f0;
}

/*--- recognition trophies table */

table.recog td {
  padding: 10pt 14pt;
  font-size: 166%;
}

table.recog td:first-child {
  min-width: 8em;
  max-width: 8em;
}

table.recog td:nth-child(3) {
  max-width: 400pt;
  min-width: 100pt;
}

table.recog td.small {
  font-size: 133%;
}

/*--- table with big letters */

table.bigletter td {
  font-size: 166%;
}

/*--- table with space above */

table.spaceout {
  margin-top: 3em;
}

/*--- table cell with a trophy title in it */

td.trophy {
  /*font-family: 'Wendy One', sans-serif;*/
  /*font-family: 'Yeseva One', sans-serif;*/
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

/*--- table cell indicating no content */

td.noasc {
  font-size: 100%;
  letter-spacing: 0.5em;
  color: #070;
  text-align: center;
}

/*--- simple centering */

td.center {
  text-align: center;
}

/*--- player :: challenge status table */

table#plr-challstat td.status {
  text-transform: uppercase;
  text-align: center;
}

table#plr-challstat td.success {
  color: #7f4;
  font-weight: bold;
}

table#plr-challstat td.ignore {
  color: #070;
}

/*--- all table rows that show a game have won/lost class */

table.gamelist tr.lost {
  color: #0a0;
}

/*--- the text on the "About" page */

p.about {
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 40em;
  font-size: 133%;
}

p.about a:link {
  text-decoration: underline;
}

p.about span.trophy {
  color: #ff0;
  font-weight: bold;
  text-transform: uppercase;
}

p.about em {
  font-weight: bold;
  font-style: normal;
}

span.hilite {
  color: #fff;
}

/*--- front page counter */

#countdown {
  font-size: 133%;
  text-align: center;
  color: #0a0;
}

#countdown .before {
  display: none;
}

#countdown .during {
  display: none;
}

#countdown .over {
  display: none;
}

#countdown .counter {
  display: none;
}

#countdown .when {
  display: none;
}

span#counter, span#when {
  color: #0f0;
}

/*--- server statuses */

.srvok {
  background-color: #0f0;
}

.srvfail {
  background-color: #f00;
}

.srvunk {
  background-color: #333;
}

/*--- clan page */

div.biglink {
  font-size: 133%;
  margin: 2em;
}

/*--- front page "more" link */

table.front thead th.more {
  text-align: right;
}

table.front thead th.more a {
  display: none;
}
table.front thead:hover th.more a {
  display: inline;
}
