<!doctype html>

<html>

<head>
  <title>/dev/null/nethack Tribute 2017</title>
  [% INSERT fonts.tt %]
  <link rel="stylesheet" type="text/css" href="main.css">
  <script type="text/javascript" src="js/countdown.js"></script>
</head>

<body>

<div class="graybox">
<h1 class="bighead">/DEV/NULL/NETHACK TRIBUTE TOURNAMENT 2017</h1>
</div>

<hr>

<div class="menu">
  <a href="./" class="menu menusel">OVERVIEW</a>
  <a href="trophies.html" class="menu">TROPHIES</a>
  <a href="clans.html" class="menu">CLANS</a>
  <a href="players.html" class="menu">PLAYERS</a>
  <a href="about.html" class="menu">ABOUT</a>
</div>

<hr>

<p id="countdown">
  <span class="initial">&nbsp;</span>
  <span class="before">The tournament starts in</span>
  <span class="during">The tournament ends in</span>
  <span class="over">The tournament is over</span>
  <span class="counter">
    <span id="counter">countdown"></span>
    on <span id="when"></span>
  </span>
</p>

<table class="front">
  <thead>
    <tr><th class="label" colspan=4>SERVERS</th></tr>
  </thead>
  <tbody>
  [% FOREACH srv IN cfg.sources.keys.sort %]
    <tr>
      <td>
        [% IF servers.item(srv).reachable.defined %]
          [% IF servers.item(srv).reachable %]
            <span class="srvok">&nbsp;&nbsp;&nbsp;</span>
          [% ELSE %]
            <span class="srvfail">&nbsp;&nbsp;&nbsp;</span>
          [% END %]
        [% ELSE %]
          <span class="srvunk">&nbsp;&nbsp;&nbsp;</span>
        [% END %]
        &nbsp; [% srv %]
      </td>
      <td>[% cfg.sources.item(srv).display %]</td>
      <td class="num">[% servers.item(srv).cnt_games %]</td>
      <td class="num">[% servers.item(srv).cnt_players %]</td>
    </tr>
  [% END %]
  </tbody>
</table>

</body>

</html>
