[% PROCESS 'macros.tt' %]

<!doctype html>

<html>

<head>
  <title>Trophies</title>
  [% INSERT fonts.tt %]
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<div class="graybox">
<h1 class="bighead">/DEV/NULL/NETHACK TRIBUTE TOURNAMENT 2017</h1>
</div>

<hr>

<div class="menu">
  <a href="./" class="menu">OVERVIEW</a>
  <a href="trophies.html" class="menu menusel">TROPHIES</a>
  <a href="clans.html" class="menu">CLANS</a>
  <a href="players.html" class="menu">PLAYERS</a>
  <a href="about.html" class="menu">ABOUT</a>
</div>

<hr>

[%# ======================================================================
    ======================================================================
    ====================================================================== %]

[% SET gidx = games.data.all %]

<h1 class="trcategory">Grand Trophy</h1>

<table class="bigletter centered">

<thead>
  <tr><th colspan=3 class="label">Best Of 13</th></tr>
</thead>

[% IF trophies.best13.size > 0 %]
  [% SET i = 0; WHILE i < 3 %]
    <tr>
    [% IF trophies.best13.item(i) %]
      [% plr = trophies.best13.item(i) %]
      <td>[% i + 1 %]</td>
      <td>[% plink(plr) %]</td>
      <td class="num">[% players.data.item(plr).best13.cnt %]</td>
    [% END %]
    [% SET i = i + 1 %]
    </tr>
  [% END %]
[% ELSE %]
  <tr><td colspan=3 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ======================================================================
    ======================================================================
    ====================================================================== %]

<h1 class="trcategory">Major Trophies</h1>

<div class="flexrow">

[%# ---------------------------------------------------------------------- %]

<table class="bigletter">

<thead>
  <tr><th colspan=3 class="label">Most Ascensions</th></tr>
</thead>

[% IF players.meta.ord_by_ascs.size > 0 %]
  [% SET i = 0; WHILE i < 3 %]
    <tr>
    [% IF players.meta.ord_by_ascs.item(i) %]
      <td>[% i + 1 %]</td>
      <td>[% SET plr = players.meta.ord_by_ascs.item(i) %][% plink(plr) %]</td>
      <td class="num">[% players.data.item(plr).cnt_ascensions %]</td>
    [% END %]
    [% SET i = i + 1 %]
    </tr>
  [% END %]
[% ELSE %]
  <tr><td colspan=3 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ---------------------------------------------------------------------- %]

<table class="bigletter">

<thead>
  <tr><th colspan=3 class="label">Most Unique Deaths</th></tr>
</thead>

[% IF games.data.all.size > 0 %]
  [% SET i= 0; WHILE i < 3 %]
    [% IF trophies.unique.item(i) %]
      <tr>
      <td class="num">[% i + 1 %]</td>
      [% SET plr = trophies.unique.item(i) %]
      <td><a href="players/[% plr %].html">[% plr %]</a></td>
      <td class="num">[% players.data.item(plr).unique.list.size %]</td>
      </tr>
    [% END %]
    [% SET i = i + 1 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=3 class="noasc">No deaths yet</td></tr>
[% END %]
</table>

</div>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">
<thead>
  <tr><th colspan=10 class="label">Fastest Ascension: Gametime</th></tr>
</thead>
[% IF games.data.ascended.size > 0 %]
  [% INCLUDE game.tt head=1 aswon=1 %]
  [% SET i = 1; FOREACH game IN games.data.asc_by_turns %]
    [% INCLUDE game.tt aswon=1 %]
    [% SET i = i + 1; LAST IF i > 3 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">
<thead>
  <tr><th colspan=10 class="label">Fastest Ascension: Realtime</th></tr>
</thead>
[% IF games.data.ascended.size > 0 %]
  [% INCLUDE game.tt head=1 aswon=1 %]
  [% SET i = 1; FOREACH game IN games.data.asc_by_duration %]
    [% INCLUDE game.tt aswon=1 %]
    [% SET i = i + 1; LAST IF i > 3 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">
<thead>
  <tr><th colspan=10 class="label">Lowest Scoring Ascension</th></tr>
</thead>
[% IF games.data.ascended.size > 0 %]
  [% INCLUDE game.tt head=1 aswon=1 %]
  [% SET i = 1; FOREACH game IN games.data.asc_by_minscore %]
    [% INCLUDE game.tt aswon=1 %]
    [% SET i = i + 1; LAST IF i > 3 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">
<thead>
  <tr><th colspan=10 class="label">Highest Scoring Ascension</th></tr>
</thead>
[% IF games.data.ascended.size > 0 %]
  [% INCLUDE game.tt head=1 aswon=1 %]
  [% SET i = 1; FOREACH game IN games.data.asc_by_maxscore %]
    [% INCLUDE game.tt aswon=1 %]
    [% SET i = i + 1; LAST IF i > 3 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">
<thead>
  <tr><th colspan=10 class="label">First Ascension</th></tr>
</thead>
[% IF games.data.ascended.size > 0 %]
  [% INCLUDE game.tt head=1 aswon=1 %]
  [% SET i = 1; FOREACH game IN games.data.ascended %]
    [% INCLUDE game.tt aswon=1 %]
    [% SET i = i + 1; LAST IF i > 3 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">
<thead>
  <tr><th colspan=10 class="label">Best Behaved Ascension</th></tr>
</thead>
[% IF games.data.ascended.size > 0 %]
  [% INCLUDE game.tt head=1 aswon=1 %]
  [% SET i = 1; FOREACH game IN games.data.asc_by_conducts %]
    [% INCLUDE game.tt aswon=1 %]
    [% SET i = i + 1; LAST IF i > 3 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No ascensions yet</td></tr>
[% END %]
</table>

[%# ======================================================================
    ======================================================================
    ====================================================================== %]

<h1 class="trcategory">Minor Trophies</h1>

<table class="gamelist centered">

  <thead>
    <tr><th colspan=10 class="label">Highest Score For Each Role</th></td>
  </thead>

  [% INCLUDE game.tt head=1 aswon=1 %]

  [% SET i = 1 %]
  [% FOR role IN cfg.roles %]
  [% SET g = games.data.top_by_role.item(role).0 %]
  [% IF games.data.top_by_role.item(role).size > 0 %]
    [% INCLUDE game.tt game=games.data.top_by_role.item(role).0 aswon=1 %]
  [% ELSE %]
    <tr>
    <td class="center">[% role %]</td>
    <td colspan=10 class="noasc">No ascensions yet</td>
    </tr>
  [% END %]
  [% SET i = i + 1 %]
  [% END %]
</table>

[%# ======================================================================
    ======================================================================
    ====================================================================== %]

<h1 class="trcategory">Recognition Trophies</h1>

<table class="recog centered">

  <thead>
    <tr><th colspan=3></th></tr>
  </thead>

  [% FOR trophy IN cfg.trophies.ord.recognition.reverse %]
    [% IF trophies.recognition.item(trophy _ '_wbo').size %]
      <tr>
        <td>[% cfg.trophies.display.item(trophy) %] WBO</td>
        <td class="num">[% trophies.recognition.item(trophy _ '_wbo').size %]</td>
        <td[% IF trophies.recognition.item(trophy _ '_wbo').size > 3 %] class="small"[% END %]>
          [% FOREACH plr IN trophies.recognition.item(trophy _ '_wbo') %]
            [% plink(plr) %]
          [% END %]
        </td>
      </tr>
    [% END %]
    <tr>
      <td>[% cfg.trophies.display.item(trophy) %]</td>
      <td class="num">[% trophies.recognition.item(trophy).size %]</td>
      <td[% IF trophies.recognition.item(trophy).size > 3 %] class="small"[% END %]>
        [% FOREACH plr IN trophies.recognition.item(trophy) %]
          [% plink(plr) %]
        [% END %]
      </td>
    </tr>
  [% END %]
</table>

[%# ======================================================================
    ======================================================================
    ====================================================================== %]

<h1 class="trcategory">Theme Trophies</h1>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">

<thead>
  <tr><th colspan=10 class="label">Basic Extinct</th></tr>
</thead>

[% IF games.data.games_by_exts.size > 0 %]
  [% INCLUDE "game-ext.tt" head=1 %]

  [% SET i = 1; FOREACH game IN games.data.games_by_exts %]
    [% INCLUDE "game-ext.tt" %]
    [% SET i = i + 1 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No deaths yet</td></tr>
[% END %]

</table>

[%# ---------------------------------------------------------------------- %]

<table class="gamelist centered">

<thead>
  <tr><th colspan=10 class="label">Who Wants To Be A Killionaire?</th></tr>
</thead>

[% IF games.data.games_by_kills.size > 0 %]
  [% INCLUDE "game-kil.tt" head=1 %]

  [% SET i = 1; FOREACH game IN games.data.games_by_kills %]
    [% INCLUDE "game-kil.tt" %]
    [% SET i = i + 1 %]
  [% END %]
[% ELSE %]
  <tr><td colspan=10 class="noasc">No deaths yet</td></tr>
[% END %]

</table>

[%# ======================================================================
    ======================================================================
    ====================================================================== %]

<h1 class="trcategory">Challenge Trophies</h1>

<table class="bigletter centered">

<thead>
  <tr><th colspan=2></th></tr>
</thead>

[% FOREACH trophy IN cfg.trophies.ord.challenges %]
  <tr>
  <td>[% cfg.trophies.display.item(trophy) %]</td>
  <td>
    [% IF trophies.challenges.item(trophy) %]
      <b>[% plink(trophies.challenges.item(trophy).shift) %]</b>
      [% IF trophies.challenges.item(trophy).size > 0 %]
        [% FOREACH plr IN trophies.challenges.item(trophy) %]
          [% plink(plr) %]
        [% END %]
      [% END %]
    [% END %]
  </td>
  </tr>
[% END %]
</table>

[%# ======================================================================
    ======================================================================
    ====================================================================== %]

<h1 class="trcategory">Clan Trophies</h2>

<table class="bigletter centered">

<thead>
  <tr><th colspan=3 class="label">Best In Show</th></tr>
</thead>

[% IF clans.size %]

  [% SET i = 0; WHILE i < 3 %]
    [% LAST IF !trophies.bestinshow.item(i) %]
    <tr>
    <td class="num">[% i+1 %]</td>
    <td>[% SET c = trophies.bestinshow.item(i); clink(c) %]</td>
    <td class="num">[% clans.item(c).bestinshow.score %]</td>
    [% SET i = i + 1 %]
    </tr>
  [% END %]
[% ELSE %]
  <tr><td class="noasc">No clans exist yet</td></tr>
[% END %]

</table>


</body>

</html>
